.home-page {
    overflow-y: hidden;
    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }

    h1 {
        color: #fff;
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;
        
        &::before {
            content: '<h1>';
            font-family: 'La Belle Aurore';
            font-size: 18px;
            color: #fff200;
            position: absolute;
            margin-top: -20px;
            left: 15px;
            opacity: 0.6;
        }

        &::after {
            left: 27rem;
            bottom: 22rem;
            content: '</h1>';
            font-family: 'La Belle Aurore';
            color: #fff200;
            font-size: 18px;
            position: absolute;
            margin-top: 50px;
            margin-left: 10px;
            animation: fadeIn 5s 1.7s backwards;
            opacity: 0.6;
        }
    }
    
    h2 {
        color: #8d8d8d;
        margin-top: 2rem;
        font-weight: 400;
        font-size: 18px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;

        &::before {
            content: '<h2>';
            font-family: 'La Belle Aurore';
            font-size: 18px;
            color: #fff200;
            position: absolute;
            margin-top: -20px;
            left: 15px;
            opacity: 0.6;
        }

        &::after {
            content: '</h2>';
            font-family: 'La Belle Aurore';
            color: #fff200;
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }
    }

    .flat-button {
        position: relative;
        display: inline-block;
        padding: 15px 30px;
        color: #e40046;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-decoration: none;
        font-size: 13px;
        overflow: hidden;
        transition: 0.2s;
        border: 2px solid #e40046;
        margin-top: 70px;

        &:hover{
            color: #041e42;
            background: #e40046;
            box-shadow: 0 0 10px #e40046, 0 0 40px #e40046, 0 0 80px #e40046;
            transition-delay: 1s;
        }

        span {
            position: absolute;
            display: block;
        }

        span:nth-child(1) {
            top: 0;
            left: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(90deg, transparent,#e40046);
        }

        &:hover span:nth-child(1){
            left: 100%;
            transition: 1s;
        }

        span:nth-child(2) {
            top: -100%;
            right: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(180deg, transparent,#e40046);
        }

        &:hover span:nth-child(2){
            top: 100%;
            transition: 1s;
            transition-delay: 0.25s;
        }

        span:nth-child(3) {
            bottom: 0;
            right: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(270deg, transparent,#e40046);
        }

        &:hover span:nth-child(3){
            right: 100%;
            transition: 1s;
            transition-delay: 0.5s;
        }

        span:nth-child(4) {
            bottom: -100%;
            left: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(360deg, transparent,#e40046);
        }

        &:hover span:nth-child(4){
            bottom: 100%;
            transition: 1s;
            transition-delay: 0.75s;
        }
    }

    .btnTag {
        &::before {
            content: '<button>';
            font-family: 'La Belle Aurore';
            font-size: 18px;
            color: #fff200;
            position: absolute;
            margin-top: 40px;
            left: 15px;
            opacity: 0.6;
        }

        &::after {
            content: '</button>';
            font-family: 'La Belle Aurore';
            color: #fff200;
            font-size: 18px;
            position: absolute;
            margin-top: 130px;
            margin-left: 23px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .tags,
    .home-page h1::before,
    .home-page h1::after,
    .home-page h2::before,
    .home-page h2::after {
        display: none;
    }

    .home-page {
        
        .text-zone {
            position: initial;
            width: 100%;
            transform: none;
            padding: 10px;
            padding-top: 5rem;
            box-sizing: border-box;
        }

        .flat-button {
            float: none;
            display: block;
            margin: 20px auto 0 auto;
            width: 200px;
            text-align: center;

            
        }

        .btnTag {
            &::before,
            &::after {
                display: none;
            }
        }

        .logo-container {
            position: relative;
            width: 150px;
            height: auto;
            top: -170px;
            right: 0;
            left: 0;
            box-sizing: border-box;
            margin: auto;
            display: flex;
            justify-content: center;
        }
    }
}